{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="ms-4 mt-4">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					<h3>
						Vous êtes connecté en tant que 📧{{ app.user.userIdentifier }},
					</h3>
					<a class="btn btn-warning ms-2" href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% else %}
				<h1 class="h3 mb-3 font-weight-normal">Entrez vos informations de connection</h1>
				<label for="inputEmail">Email</label>
				<input style="max-width:600px" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input style="max-width:600px" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-lg btn-primary mt-3" type="submit">
					Se connecter
				</button>
			{% endif %}
		</form>
	</div>
{% endblock %}
