{% extends 'base.html.twig' %}

{% block title %}Hello Experi
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="container ms-4 mt-4">
			<div class="d-flex flex-nowrap">
				{{form_start(form)}}
				<div class="mt-2">
					<h3 class="text-primary" style="font-weight:bold">📝Ajouter une expérience</h3>
					{{form_errors(form)}}

					<div class="mt-2">
						{{form_label(form.titre)}}<text class="text-primary">*</text><br>
						{{form_widget(form.titre)}}
					</div>

					<div class="mt-2">
						{{form_label(form.date_debut)}}<text class="text-primary">*</text><br>
						{{form_widget(form.date_debut)}}
					</div>

					<div class="mt-2">
						{{form_label(form.date_fin)}}<text class="text-primary">*</text><br>
						{{form_widget(form.date_fin)}}
					</div>

					<div class="mt-2">
						{{form_label(form.soustitre)}}<text class="text-primary">*</text><br>
						{{form_widget(form.soustitre)}}
					</div>

					<div class="mt-2">
						{{form_label(form.contenu)}}<text class="text-primary">*</text><br>
						{{form_widget(form.contenu)}}
					</div>

					<div class="mt-3">
						{{form_widget(form.submit, { 'label': 'Enregistrer' }) }}
					</div>
				</div>
				{{form_end(form)}}
			</div>
		</div>
	{% endif %}
{% endblock %}
